<ion-header>
  <ion-navbar>
    <ion-title>
      System/Toolbox
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>  
  <ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-justify">
	         <style>
                .bordered {
                 position: absolute;
                 bottom: -270px;
				 right: 100px;
                 width: 400px;
                 height: 235px;
                 padding: 20px;
                 border: 2px solid gray;
                 }
            </style>
         <div class="bordered">
             <h3>Firewall Migration</h3>
             <p>The Firepower Migration Tool (Migration Tool) converts the configuration of a supported ASA platform to a supported Firepower Threat Defence pltform. 
		      With the Migration tool, you can automate the migration of supported ASA features and policies</p>
			  <button ion-button (click) = "docker()" > Download </button>
			 
			 <script language="javascript">
function connection(host) {
  var oShell = new ActiveXObject("Wscript.Shell");
  oShell.Run('"c:\\Program Files\\PuTTY\\putty.exe" -ssh '+ host +' 22');
  }

</script>

<a href="javascript:connection('@10.197.212.15')"> Connection 1 </a>
			 
			  <p>  <a href="https://www.w3schools.com/html/">Documentation</a>  </p>
         </div>
     </div>

    </ion-col>
 <ion-col>
      <div class="ion-text-justify">
	         <style>
                .bordered2 {
                 position: absolute;
				 bottom: -270px;
                 right: 400px;
				 left: -50px;
                 width: 450px;
                 height: 235px;
                 padding: 20px;
                 border: 2px solid gray;
                 }
            </style>
         <div class="bordered2">
             <h3>Firewall Policy Optimizer</h3>
             <p>Feel like your rule set has grown too large and is difficult to manage? Think that your current ruleset is causing
			 problem in traffic performance on your network? Or just want validation that your rules are configured in the most optimal fashion? Use the policy optimizer to get some recommendations.</p>
		     <p>  <a href="https://www.w3schools.com/html/">Launch</a>  </p>
			  <p>  <a href="https://www.w3schools.com/html/">Documentation</a>  </p>
         </div>
     </div>

    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="ion-text-justify">
	         <style>
                .bordered3 {
                  position: fixed;
                  bottom: 150px;
                  right: 877px;
                 width: 400px;
                 height: 200px;
                 padding: 20px;
                 border: 2px solid gray;
                 }
            </style>
         <div class="bordered3">
             <h3>FirePower CLI (fpc)</h3>
             <p> Click here to try out managing and troubleshooting your FMC using a Cisco style CLI</p>
		     <p>  <a href="https://www.w3schools.com/html/">Download</a>  </p>
			  <p>  <a href="https://www.w3schools.com/html/">Documentation</a>  </p>
         </div>
     </div>
    </ion-col>
    
  </ion-row>
</ion-grid>



 
 </ion-content>
 
